<div class="col-10 offset-1 about">
  <h1>About this Web Application</h1>

  <br />

 <p>
    This page was built by <a target="_blank" href="https://mercedesgasser.netlify.com/">Mercedes Gasser</a>.
  </p>

  <p>
    It was an assignment for her coding class, but if you stumbled upon it somehow, welcome! Feel free to leave a quote referencing what you love about Parks & Rec.
  </p>

  <p>
    If you want to learn how to code in the same way Mercedes is, start <a target="_blank" href="https://online.bootcampspot.com">here</a>.
  </p>


  <br />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "Mercedes_in_wedding_dress.jpg", class: "img-fluid" %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mini-Bio</h2>

      <br />

      <p>
        Mercedes is just a future hermit (probably) who loves her husband and their adorable dog Meeko just barely more than the TV show Parks & Rec. She's on a mission to learn full stack web development. It really means a lot to her.
     </p>

      <p>
        She also has very few pictures of <i>just</i> herself, so here's a picture of Mercedes on her wedding day. She doesn't dress like that on the daily, don't worry. She's not that weird.
      </p>

    </div>

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
