<h2 class="text-center">
  <span>Submission No. <%= @quote.id %></span>
  &nbsp;&nbsp;
  My favorite part of Parks & Rec is...
</h2>

<br />
<br />
<br />

<h1 class="text-center"><%= @quote.saying %></h1>
<br />
<br />
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />